.container {
    padding: 1.5rem 2rem;
    background-color: #f3f5f8;
    height: 93vh;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.title{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
    color: #a5adbc;
}

.support-txt{
    margin: 0;
    color: #9ca4b4;
}

.search-txt-field fieldset{
    border-color: transparent !important;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 10%);
}

.custom-header {
    background-color: rgba(25, 118, 210, 0.08);
}

.left-content {
    background-image: url(./assets/login-left.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%
}

.user-details {
        display: flex;
        justify-content: left;
        align-items: start;
}

.heading {
    margin: 1rem 1rem 0.5rem 1rem;
}

.label {
    margin: 0.5rem 1rem 2rem 1rem;
    color: #9ca4b4;
}

.user-button {
    background-color: green;
}

.user-header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.margin-left {
margin-left: 2rem;
}